@using catalog.WebUI.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">TÜMÜ</li>
                <li class="list-group-item">ASSEMBLY</li>
                <li class="list-group-item">LİSP</li>
                <li class="list-group-item">FORTRAN</li>
                <li class="list-group-item">HASKELL</li>
                <li class="list-group-item">JAVA</li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="row">

                @foreach (var urun in Model)
                {

                    <div class="col">

                        <div class="card h-100">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/Home/Details/@urun.Id">@urun.Name</a>
                                </h5>
                                <p class="card-text">@urun.Description</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">İNDİRİMLİ FİYAT : @urun.Price</small>
                            </div>

                        </div>
                    </div>

                    <p>

                    </p>
                    <p>

                    </p>
                }
            </div>
        </div>

    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
    </div>

